-- Update existing companies with user_id
UPDATE companies 
SET user_id = '28cb9989-2094-43a9-836d-2db38f150d30' 
WHERE user_id IS NULL;

-- Verify the update
SELECT id, name, user_id FROM companies;
